<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>チャットルーム</title>
    <link rel="shortcut icon" href="./img/javajo_logo.png" />
    <link rel="stylesheet" type="text/css" href="./css/javajo.css" />
</head>
<body>
<form th:action="@{/logout}" method="post" id="header">
    <input type="submit" class="button purple-btn" value="Logout"/>
</form>
<img src="./img/javajo_logo.png" class="transparent center-img" />

<!--メッセージ -->
<div id="response"></div>

<!--


TODO
ハンズオン
チャットのメッセージの入力エリア・送信ボタンの作成


-->
</body>
<script src="./js/Stomp.js"></script>
<script src="./js/javajo.js"></script>
</html>