/*画面全体の設定*/
html {
    height: 100%;
}
body {
    /*背景*/
    background-color: #FFE4E1;
    margin: 0px;
}

/*ヘッダー*/
form#header {
    position: fixed;
    top: 10px;
    right: 30px;
    text-align: right;
    width: 100%;
}

/*フッター*/
button.footer {
    position: fixed;
    bottom: 10px;
    right: 30px;
    text-align: right;
    width: 100%;
}

/*メッセージ表示エリア　全体*/
div#response {
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    position: fixed;
    left: 20px;
    top: 50px;
    bottom: 50px;
}

/*フッター(メッセージ入力エリア)*/
div#inputArea {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

/* ボタン */
button.button, input.button {
    width: 100px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding: 8px 0 10px;
    color: #fff;
    background-color: #ff1493;
    border-radius: 25px;
    border-style: none;
}
/* ボタン(disabledのとき) */
button.button:disabled {
    background-color: #dda0dd;
    color: #f5f5f5;
}
/* ボタン(紫) */
input.purple-btn {
    background-color: #AB47BC;
}

/* チャットエリア */
.talk-area {
    overflow: hidden;
    margin: 0 0 16px 0;
    padding: 0;
}
.talk-area span {
    display: block;
    margin: 0;
    padding: 0;
}
.talk-area .talk-name {
    float: left;
    width: auto;
    max-width: 100%;
    height: 56px;
    padding-top: 16px;
}
.talk-area .talk-content {
    position: relative;
    box-sizing: border-box;
    width: 500px;
    min-height: 50px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto 0 145px;
    padding: 16px;
}
.talk-area .talk-content:before {
    position: absolute;
    top: 15px;
    left: -20px;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border: 10px solid transparent;
    border-right-color: #fff;
}

/*背景画像*/
.transparent {
    opacity: 0.5;
}
.center-img {
  position: absolute;
  top: -9%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}