/* 中央寄せ */
#container {
    text-align: center;
    position: absolute;
    top: 16%;
    width: 100%;
}

/* 画像 */
img {
    margin-right: 40px;
    margin-bottom: 25px;
}

/* エラーメッセージ */
.error-msg {
    margin-bottom: 10px;
    color: #FF5252;
    font-weight: bold;
}