body {
    background-image: none;
}

button.button {
    width: 160px;
}

#center-container {
    text-align: center;
    position: relative;
    top: 38%;
}

#welcome {
    font-size: 25.5px;
    font-weight: bold;
    margin-bottom: 30px;
}