<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Spring Security Example </title>
        <link rel="stylesheet" type="text/css" href="./css/javajo.css" />
        <link rel="stylesheet" type="text/css" href="./css/login.css" />
    </head>
    <body id="container">

        <img src="./img/javajo_logo.png" />

        <div th:if="${param.error}" class="error-msg">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="error-msg">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="User Name" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" class="button" value="Login"/>
        </form>
    </body>
</html>